nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 40px;
}

.nav-yixuan,
.nav-about,
.nav-design,
.nav-tech
{
    flex: 1;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    
    margin-right: 5px;
    margin-left:5px;

    padding-bottom: 5px;

}

.nav-yixuan{
margin-left: 10px;
}

.nav-tech {
    border-right: none;
}
